 {% extends "base.html"%}
 {% block content%}
 <!-- home
   ================================================== -->
   <section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="/static/images/lighthouse.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Welcome</h3>

                <h1>
                    My name is Hamish Nicholson. <br>
                </h1>
                <p>
                    I am a student and future computer scientist. I am interested in both the theory and practice of computer science and statistics. I am keen to leverage my knowledge of computing to produce meaningful results in other fields.  
                </p>

                <div class="home-content__buttons">
                    <!-- <a href="#works" class="smoothscroll btn btn--stroke">
                        Latest Projects
                    </a> -->
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        More About Me
                    </a>
                </div>

                <div class="home-content__scroll">
                    <a href="#about" class="scroll-link smoothscroll">
                        <span>Scroll Down</span>
                    </a>
                </div>

            </div>

        </div> <!-- end home-content -->

        <ul class="home-social">
            <li>
                <a href="https://www.facebook.com/hamish.nicholson.3"><i class="im im-facebook" aria-hidden="true"></i><span>Facebook</span></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/hamish-nicholson-53ba1a145/"><i class="im im-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a>
            </li>
            <li>
                <a href="https://www.instagram.com/lil_hame/"><i class="im im-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>
            <li>
                <a href="https://github.com/shamazo"><i class="im im-github" aria-hidden="true"></i><span>github</span></a>
            </li>
        </ul> 
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">
        
        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-three">
                <img class="profile-pic" src="/static/images/profilepic-square.jpg" alt="profilepic">
            </div>
            <div class="col-nine">
                <h3>About</h3>
                <h1>More About Me</h1>
                <p class="lead">I am an Australian-American-Canadian citzien currently residing in Cambridge, Massachusetts. I am a Junior at Harvard College studying Computer Science with a secondary in Statistics.</p>
            </div>
        </div>

        <div class="row about-content">

            <div class="col-six tab-full left">
                <!-- <h3>Howdy!</h3> -->

                <p>
                I grew up in Mount Eliza, which is a small town just outside of Melbourne, Victoria. I am interested in both computer science theory, including information thoery, coding theory and theoretical machine learning as well as applying computer science to other fields, especially the natural sciences which frequently have astronomical data sets (pun intended). Outside of academics I am a photographer, DJ, concert goer and audio equipment enthusiast. Depending on my workload, you can tune in to my radio show at <a href="https://whrb.org"> WHRB 95.3FM</a>, Harvard's fully student run radio station where I am also the tech director. I listen to Australian psychedelic rock, French Rap, European electronica and peaceful soundscapes. Be sure to check out the photography tab below for some of my recent photos.
                </p>
            </div>

            <div class="col-six tab-full right">
                <h3 id="tech-skills">Technical Skills.</h3>

                <ul class="skill-bars">
                    <li>
                    <div class="progress percent80"></div>
                    <strong>Python</strong>
                    </li>
                    <li>
                    <div class="progress percent70"></div>
                    <strong>C</strong>
                    </li>
                    <li>
                    <div class="progress percent70"></div>
                    <strong>OCaml</strong>
                    </li>
                    <li>
                    <div class="progress percent60"></div>
                    <strong>IDL</strong>
                    </li>
                    <li>
                    <div class="progress percent65"></div>
                    <strong>HTML & CSS</strong>
                    </li>   
                    <li>
                    <div class="progress percent40"></div>
                    <strong>SQL</strong>
                    </li>   
                    <li>
                    <div class="progress percent75"></div>
                    <strong> Linux/Unix systems</strong>
                    </li>
                </ul>
            </div>

        </div> <!-- end about-content -->

        <div class="row about-content about-content--buttons">

            <div class="col-six tab-full right">
                <a href="/static/cv-sept2018.pdf" target="_blank" class="btn btn--primary full-width">Download My CV</a>
            </div>
            <!-- <div class="col-six tab-full right">
                <a href="#0" class="btn full-width">Hire Me Now</a>
            </div> -->

        </div> <!-- end about-content buttons -->
</section>  <!-- end of about section -->


<section id="resume" class="target-section s-resume">

<div class="row work">
        <div class="col-full text-center">
                <h3>My Work Experience</h3>
        </div>
        <div class="col-full main-col">
            <div class="row item">
                <div class="col-two">
                <img alt="" src="/static/images/nasa-jpl.png">
                </div>
               <div class="col-ten">
                   <div class="timeline__header">
                        <p class="timeline__timeframe">June 2018 - August 2018</p>
                        <h3>NASA Jet Propulsion Laboratory</h3>
                        <h5>Summer Undergraduate Research Fellow</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>I worked in the Planetary and Exoplanetary Atmosphers group (3222) with Dr. Glenn Orton. I conducted research on fine scale waves in Jupiter's atmosphere by analyzing data from the JunoCam instrument, which is the visible spectrum camera on the Juno orbiter. I determined their statistical range as well as properties of specific waves. One of my end products was the largest catalogue of finescale waves in the visible spectrum on Jupiter to date.</p>
                    </div>
                </div>
            </div> <!-- item end -->

            <div class="row item">
                <div class="col-two">   
                <img alt="" src="/static/images/harvard.png">
                </div>
               <div class="col-ten">
                   <div class="timeline__header">
                        <p class="timeline__timeframe">Febuary 2018 - Present</p>
                        <h3>Bureau of Study Counsel</h3>
                        <h5>Peer Tutor</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>During the school year, I tutor fellow students in CS50 - Introduction to Computer Science or CS51 - Abstraction and Design in Computation. CS50 covers rudimentary computer science concepts in C, Python, SQL and Javascript while CS51 focuses on methods of abstraction such as object oriented programming, functional programming and imperative programming in OCaml.</p>
                    </div>
                </div>
            </div> <!-- item end -->

            <div class="row item">
                <div class="col-two">
                <img alt="" src="/static/images/cs50.png">
                </div>
               <div class="col-ten">
                   <div class="timeline__header">
                        <p class="timeline__timeframe">Septemer 2017 - December 2017</p>
                        <h3>CS50 at Harvard</h3>
                        <h5>Course Assistant </h5>
                    </div>
                    <div class="timeline__desc">
                        <p>As a course Assistant for CS50, I held weekly office hours to answer students' conceptual questions and to help them with problem sets. I was also involved in the grading process for exams. </p>
                    </div>
                </div>
            </div> <!-- item end -->

         </div> <!-- main-col end -->
      </div> <!-- End work -->



<div class="row education">
        <div class="col-full text-center education-header">
                <h3>My Education</h3>
        </div>
        <div class="col-full main-col">
            <div class="row item">
                <div class="col-two">
                <img alt="" src="/static/images/harvard2.png">
                </div>
               <div class="col-ten">
                   <div class="timeline__header">
                        <p class="timeline__timeframe">August 2016 - May 2020</p>
                        <h3>Harvard College</h3>
                        <h5>Bachelor of Arts in Computer Science with Secondary in Statistics</h5>
                    </div>
                    <div class="timeline__desc">
                     <p>Harvard Summer School 2017 - Study Abroad in Prague (Czech language and culture). <br />
                     <u>Activities and Societies:</u> Tech director, DJ and previously Assistant General Manager at <a href="https://www.whrb.org/"> WHRB 95.3FM</a>, Secretary of the Harvard College European Society, Secretary of the Harvard Photography Club </p>
                    </div>
                </div>
            </div> <!-- item end -->

            <div class="row item">
                <div class="col-two">
                <img alt="" src="/static/images/melbuni.png">
                </div>
               <div class="col-ten">
                   <div class="timeline__header">
                        <p class="timeline__timeframe">Febuary 2016 - July 2016</p>
                        <h3>University of Melbourne</h3>
                        <h5>Bachelor of Science</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>Prior to my acceptance to Harvard, I did a semester at the University of Melbourne. I took first year courses in physics, calculucs, linear algebra and programming. I was a member of the Ormond College residential community.</p>
                    </div>
                </div>
            </div> <!-- item end -->

            <div class="row item">
                <div class="col-two">
                <img alt="" src="/static/images/mgs.jpg">
                </div>
               <div class="col-ten">
                   <div class="timeline__header">
                        <p class="timeline__timeframe"> 2010 - 2015</p>
                        <h3>Melbourne Grammar School</h3>
                        <h5>Victorian Certificate of Education</h5>
                    </div>
                    <div class="timeline__desc">
                        <u>Activities and Societies:</u> Chair of the Science and Technology Committee, Secretary of the Indiginous Reconciliation Committee, played Rugby Union for six years including starting on the first fifteen. <br>
                        Earnt the Environmental Science Prize; went on humanitarian trip to Cambodia (December 2014)</p>
                    </div>
                </div>
            </div> <!-- item end -->

         </div> <!-- main-col end -->
      </div> <!-- End Education -->
    
</section> <!-- end resume -->

 

    <!-- works
    ================================================== 
    <section id="works" class="s-works target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Portfolio</h3>
                <h1>See My Latest Projects.</h1>
                
                <p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p>
            </div>
        </div>

        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <!- - <a href="/static/images/portfolio/gallery/g-beetle.jpg" class="thumb-link" title="Libset" data-size="1050x700"> - ->
                                <img src="/static/images/github-logo.png" alt="">
                                <span class="shadow-overlay"></span>
                            <!- - </a> - ->
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Libset
                            </h3>
                            <p class="item-folio__cat">
                                C programming
                            </p>
                        </div>

                        <a href="https://github.com/Shamazo/libset" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>

                    </div> <!- - end item-folio - ->
                </div> <!- - end masonry__brick - ->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/portfolio/gallery/g-lighthouse.jpg" class="thumb-link" title="Lighthouse" data-size="1050x700">
                                <img src="/static/images/portfolio/lighthouse.jpg" 
                                     srcset="/static/images/portfolio/lighthouse.jpg 1x, /static/images/portfolio/lighthouse@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Lighthouse
                            </h3>
                            <p class="item-folio__cat">
                                Web Design
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>

                    </div> <!- - end item-folio - ->
                </div> <!- - end masonry__brick - ->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/portfolio/gallery/g-salad.jpg" class="thumb-link" data-size="1050x700">
                                <img src="/static/images/portfolio/salad.jpg" 
                                     srcset="/static/images/portfolio/salad.jpg 1x, /static/images/portfolio/salad@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Salad
                            </h3>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!- - end item-folio - ->
                </div> <!- - end masonry__brick - ->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/portfolio/gallery/g-woodcraft.jpg" class="thumb-link" data-size="1050x700">
                                <img src="/static/images/portfolio/woodcraft.jpg"
                                     srcset="/static/images/portfolio/woodcraft.jpg 1x, /static/images/portfolio/woodcraft@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Woodcraft
                            </h3>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!- - end item-folio - ->
                </div> <!- - end masonry__brick - ->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/portfolio/gallery/g-skaterboy.jpg" class="thumb-link" data-size="1050x700">
                                <img src="/static/images/portfolio/skaterboy.jpg"
                                     srcset="/static/images/portfolio/skaterboy.jpg 1x, /static/images/portfolio/skaterboy@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Skaterboy
                            </h3>
                            <p class="item-folio__cat">
                                Web Development
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!- - end item-folio - ->
                </div> <!- - end masonry__brick - ->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/portfolio/gallery/g-liberty.jpg" class="thumb-link" data-size="1050x700">
                                <img src="/static/images/portfolio/liberty.jpg"
                                     srcset="/static/images/portfolio/liberty.jpg 1x, /static/images/portfolio/liberty@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Liberty
                            </h3>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!- - end item-folio - ->
                </div> <!- - end masonry__brick - ->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/portfolio/gallery/g-minimalismo.jpg" class="thumb-link" data-size="1050x700">
                                <img src="/static/images/portfolio/minimalismo.jpg"
                                     srcset="/static/images/portfolio/minimalismo.jpg 1x, /static/images/portfolio/minimalismo@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Minimalismo
                            </h3>
                            <p class="item-folio__cat">
                                Web Design
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!- - end item-folio - ->
                </div> <!- - end masonry__brick - ->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/portfolio/gallery/g-shutterbug.jpg" class="thumb-link" data-size="1050x700">
                                <img src="/static/images/portfolio/shutterbug.jpg"
                                     srcset="/static/images/portfolio/shutterbug.jpg 1x, /static/images/portfolio/shutterbug@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Lady Shutterbug
                            </h3>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!- - end item-folio - ->
                </div> <!- - end masonry__brick - ->

            </div>
        </div> <!- - end masonry - ->

    </section> <!- - end works - ->

 -->
    <!-- photography
    ================================================== -->
    <section id="photography" class="s-photography target-section">

        <div class="row narrow section-intro has-bottom-sep photo-intro">
            <div class="col-full">
                <h3>Photography</h3>
                <h1>Check out some of my recent photos</h1>
            </div>
        </div>

        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/photos/gallery/bris.jpg" class="thumb-link" title="" data-size="1050x700">
                                <img src="/static/images/photos/bris.jpg" 
                                     srcset="/static/images/photos/bris.jpg 1x, /static/images/photos/bris@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>
                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->


                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/photos/gallery/g-caltech.jpg" class="thumb-link" data-size="1050x700">
                                <img src="/static/images/photos/caltech.jpg" 
                                     srcset="/static/images/photos/caltech.jpg 1x, /static/images/photos/caltech@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->


                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/photos/gallery/g-broad1.jpg" class="thumb-link" title="broad1" data-size="1050x700">
                                <img src="/static/images/photos/broad1.jpg" 
                                     srcset="/static/images/photos/broad1.jpg 1x, /static/images/photos/broad1@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->  
                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/photos/gallery/g-canb.jpg" class="thumb-link" data-size="1050x700">
                                <img src="/static/images/photos/canb.jpg"
                                     srcset="/static/images/photos/canb.jpg 1x, /static/images/photos/canb@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/photos/gallery/g-jtree.jpg" class="thumb-link" data-size="1050x700">
                                <img src="/static/images/photos/jtree.jpg"
                                     srcset="/static/images/photos/jtree.jpg 1x, /static/images/photos/jtree@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>
                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/photos/gallery/g-getty.jpg" class="thumb-link" data-size="1050x700">
                                <img src="/static/images/photos/getty.jpg"
                                     srcset="/static/images/photos/getty.jpg 1x, /static/images/photos/getty@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>


                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/photos/gallery/g-dunes.jpg" class="thumb-link" data-size="1050x700">
                                <img src="/static/images/photos/dunes.jpg"
                                     srcset="/static/images/photos/dunes.jpg 1x, /static/images/photos/dunes@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>


                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/photos/gallery/g-broad2.jpg" class="thumb-link" data-size="1050x700">
                                <img src="/static/images/photos/broad2.jpg"
                                     srcset="/static/images/photos/broad2.jpg 1x, /static/images/photos/broad2@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                    </div> <!-- end item-folio -->


                </div> <!-- end masonry__brick -->
                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/photos/gallery/g-lacma1.jpg" class="thumb-link" data-size="1050x700">
                                <img src="/static/images/photos/lacma1.jpg"
                                     srcset="/static/images/photos/lacma1.jpg 1x, /static/images/photos/lacma1@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>


                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

            

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/photos/gallery/g-lacma2.jpg" class="thumb-link" data-size="1050x700">
                                <img src="/static/images/photos/lacma2.jpg"
                                     srcset="/static/images/photos/lacma2.jpg 1x, /static/images/photos/lacma2@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->


                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/images/photos/gallery/g-jtree2.jpg" class="thumb-link" data-size="1050x700">
                                <img src="/static/images/photos/jtree2.jpg"
                                     srcset="/static/images/photos/jtree2.jpg 1x, /static/images/photos/jtree2@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->
            </div>
        </div> <!-- end masonry -->

    </section> <!-- end photography -->
<!--
    blog
 ==================================================  -->
   <!--  <section id="blog" class="s-blog target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Journal</h3>
                <h1>Latest From The Blog.</h1>
                <p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute. 
                Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum 
                ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p>
            </div>
        </div>

        <div class="row blog-content">
            <div class="col-full">

                <div class="blog-list block-1-2 block-tab-full">
                    <article class="col-block">
                                
                        <div class="blog-date">
                            <a href="/blog-single.html">Sept 16, 2017</a>
                        </div>  
                        
                        <h2 class="h01"><a href="/blog-single.html">The 10 Golden Rules of Clean Simple Design.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh..
                        </p>

                        <div class="blog-cat">
                                <a href="blog.html">Branding</a><a href="blog.html">Design</a>
                        </div>

                        
                    </article>
                    <article class="col-block">
                                
                        <div class="blog-date">
                            <a href="/blog-single.html">Sept 15, 2017</a>
                        </div>  
                        
                        <h2 class="h01"><a href="/blog-single.html">Photography Can Improve Your Graphic Design.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh..
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Photography</a>
                        </div>

                        
                    </article>
                    <article class="col-block">
                        
                        <div class="blog-date">
                            <a href="/blog-single.html">Sept 14, 2017</a>
                        </div>

                        <h2 class="h01"><a href="blog-single.html">Workspace Design Trends and Ideas.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh dolore irure esse Duis nulla sint.
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Branding</a><a href="blog.html">Wordpress</a>
                        </div>
                    </article>
                    <article class="col-block">
                        
                        <div class="blog-date">
                            <a href="/blog-single.html">Sept 12, 2017</a>
                        </div>    
                        <h2 class="h01"><a href="/blog-single.html">Using Patterns in your Branding.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh.
                        </p>

                        <div class="blog-cat">
                            <a href="/blog.html">Design</a><a href="blog.html">Branding</a>
                        </div>
                    </article>
                </div>  end blog-list -->

             <!--</div>  end col-full -->

        <!--</div>   end blog-content  -->

    <!-- </section>   -->


    <!-- s-stats
    ================================================== -->
    <section id="contact" class="s-contact target-section">

        <div class="overlay"></div>

        <div class="row narrow section-intro">
            <div class="col-full">
                <h3>Contact</h3>
                <h1>Say Hi!</h1>
                
                <p class="lead">If you want to talk to me about new opportunities or collaborate on a project send me an email or contact me on social media. I am always interested in meeting new people. I like to talk about many topics, ranging from global geo-politics and gerrymandering to astrophysics and artificial intelligence. </p>
            </div>
        </div>

        <div class="row contact__main">
<!--             <div class="col-eight tab-full contact__form">
            
                        
            </div> -->
            <div class="col-full tab-full contact__infos">
                <h4 class="h06">Phone</h4>
                <p>
                Mobile: 617 407 0173<br>
                (If you want to chat it's better to shoot me an email first.)
                </p>

                <h4 class="h06">Email</h4>
                <p>hamish_nicholson  at  college.harvard.edu<br>
                </p>
            </div>

        </div>

    </section> <!-- end s-contact -->

{% endblock%}